<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>It is ironic?</title>
    </head>

    <body>

        <header>
            <div class="">
                <img class="logo" src="https://cdn.dribbble.com/users/3580052/screenshots/10449281/media/8f0d08a7adb38d636b04e7d3bf3e7df3.png?compress=1&resize=1200x900&vertical=top" alt="">
            </div>
        </header>

        <main>
            <section class="orange-div">
                <h2 class="title">Add your text below to analyze it</h2>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section class="orange-div empty-box">
                <h2 class="title"><strong >Sentiment Analysis Results:</strong></h2>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p class="footer-p">Udacity Project - 2022</p>
        </footer>

    </body>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
       </script>
       
</html>
