header {
    display: flex;
    background-color: blue;
    color: orange;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    height: 50px;
}

.nav_text {
    vertical-align: middle;
}
